body {
	font-family: sans-serif ;
	background: #110000 ;
	color: #ccc ;
}

main {
	max-width: 950px ;
	margin: auto ;
	border: 2px solid #000000 ;
	border-radius: 10px ;
	background: #000000 ;
	padding-left: 10px ;
	padding-right: 10px ;
	padding-top: 2px ;
	padding-bottom: 2px ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
	margin: 0px ;
}

/* Navigation bar */
nav {
	font-size: 18px ;
	text-align: center ;
	padding-bottom: 10px ;
}

nav ul {
	list-style-type: none ;
	margin: 0 ;
	padding: 0 ;
}

nav li {
	display: inline ;
}

/* Footer */
footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

#noContent {
	font-weight: bold ;
	text-align: center ;
}

/* Links */
a:link {
	text-decoration: none ;
}

a:hover {
}

a:active {
}
